/* 公共属性
---------------------------------------------------------------------------------------- */
html { 
    min-width: 776px; 
}
/*  页面属性：边距为0，字体颜色为黑色，字体大小14像素，行高为字体大小的1.6倍，居中对齐，背景色为天
蓝色，字体为宋体等。 */
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    background: #6D89DD;
    font-family: "宋体","新宋体",arial,verdana,sans-serif;
}
/* 超链接属性：无边距、无边框、无下划线，然后定义正常状态下的颜色、访问过的颜色和鼠标经过时的颜色并
显示下划线 */
a {  
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
a:link {
    color: #E66133;
}
a:visited {
    color: #E66133;
}
a:hover {
    color: #637DBC;
    text-decoration: underline;
}
/*预定义格式属性：浅灰色背景，无首行缩进，内边距大小，外边距大小为0，右缩进为一个字体大小，字体颜色
为蓝色 */
pre {
    text-indent: 0;
    background: #DDDDDD;
    padding: 0;
    margin: 0;
    color: blue;
}
/* 顶部布局
----------------------------------------------------------------------------------------- */
/* 顶部属性1：段落宽度为776像素高度为12像素，右右外边距为浏览器默认，背景颜色为白色，水平轴平铺，向
左上对齐，超出边框部分隐藏 */
#top {
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    height: 12px;
    background: url(images/bg_top1.gif) #FFF repeat-x left top;
    overflow: hidden;
}
/* 顶部属性2：段落宽度为776像素高度为121像素，左右外边距浏览器默认，无内边距 */
#top1 {
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    height: 121px;
}
/* 主题布局
----------------------------------------------------------------------------------------- */
/* 外层定义背景图像，实现麻点效果 */
#main {
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.2em 0px;
    background: url(images/bg_dot1.jpg) #FFF repeat left top;
    text-align: left;
}
/* 内层定义背景颜色为白色，实现中间区域遮盖麻点显示 */
#content {
    width: 710px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    background: #FFF;
}
/* 大标题区域属性 */
#title {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0 0.5em 1em;
    color: #00A06B;
    text-align: left;
    border-bottom: solid #9EA3C1 2px;
}
/* 小标题区域属性 */
.sub {
    color: #00A06B;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    padding: 1em 2em 0;
    background: url(images/0.gif) #FFF no-repeat 1em 6px;
}
/* 内容区域显示属性 */
.content {
    text-indent: 2em;
    font-size: 13px;
    margin-left: 2em;
    padding: 1em 6px;
}
/* 页内链接区域属性 */
#gotop {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF;
    height: 2em;
    font-size: 12px;
    text-align: right;
}
/* 底部布局
----------------------------------------------------------------------------------------- */
/* 页交装修图 */
#footer {
    clear: both;
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background: url(images/bg_bottom.gif) #FFF repeat left top;
    text-align: center;
    height: 39px;
    color: #DDD;
}
/* 版权信息 */
#copyright {
    width: 776px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 0 0 0;
    background: #FFF;
    text-align: center;
    height: 60px;
    line-height: 13px;
    font-size: 12px;
    color: #9EA0BB;
}
#copyright a {
    color: #667EBE;
}
/* 圆角特效
------------------------------------------------------------------------------------------ */
.box {
    background: url(images/nt.gif) repeat;
}
.tl {
    background: url(images/tl.gif) no-repeat top left;
}
.tr {
    background: url(images/tr.gif) no-repeat top right;
}
.bl {
    background: url(images/bl.gif) no-repeat bottom left;
}
.br {
    background: url(images/br.gif) no-repeat bottom right;
}